



#navlist{
  background-color: white;
  margin:0;
  padding:0;
  overflow: hidden;
}
.navbar .navlist ul {
  
}


.navbar .navlist li {
position: relative;
padding: 0px 2px 0px 0px;
float:right;
right: 30px;
}

.navbar .navlist li a {
  display:block;   
  color:black; 
  text-align: center;
  text-decoration: none;
  padding: 14px 10px;
  font-size: 13px;;
  font-family: arial,sans-serif;
}
  

.navbar ul li a:hover {
text-decoration: underline;
opacity: .85;
}

.navbar .navlist .links 
{
background-image: url(icons.png);
display: block;
width:30px;
height:30px;
border-radius: 2px;
background-size: 528px 68px;
background-position: -132px -38px;
opacity: .55;
top: 6px;
}
.navbar .navlist .links:hover 
{
opacity: 1;
}
 .navbar .navlist .signlink {
  display: inline-block;
  cursor: default;
  text-decoration: none;
  background-color: #4285f4;
  margin: 7px 0 0 10px;
  padding: 0px 15px;
  line-height: 28px;
  border-radius: 2px;
  border: 1px;
  color: white;
  font-weight: bold;
 }
 .navbar .navlist .signlink:hover {
opacity: 1;
 }
img {
 position: relative;
 display:block;
   margin-left:auto;
   margin-right:auto;
   top:150px;
   
   }

#search {
  position: relative;
  display: block;
  top: -7px;
  left: 36px;
  width: 506px;
  height: 37px;
  border: none;
  background-color: transparent;
  font-size: 19px;
}
#search:focus {
outline:none;
}
#sd1 {
  border: 1px solid lightgray;
  position: relative;
  margin: auto;
  width: 582px;
    height: 26px;
  top: 161px;
  padding: 10px;
  left: 9px;
  border-radius: 24px;
}
#sd1:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}
#looking {
  top: -33px;
  width: 16px;
  right: 274px;
  opacity:.7;
}
#mic {
  width: 15px;
    top: -53px;
    left: 268px;
}

.div2{
  position: relative;
  margin: auto;
  width: 500px;
  top: 170px;
  padding: 10px;
  left: 89px;

}
.enter {
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.08);
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 39px;
  border-style: none;
  border-radius: 5px;
  font-family: arial,sans-serif;
  font-size: 14px;
  opacity: .7;
  padding:0;
  margin:0;
  cursor: pointer;
}
.enter:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    opacity: 1;
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.08);
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 39px;
    border-radius: 5px;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    border: solid 1px #c6c6c6;
 }

.enter:focus {
  border: 1px solid #4d90fe;
    outline: none;
}


.footer {
overflow:hidden;
}

.footer .footerlist {
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: rgba(0,0,0,.54);
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

.footer .footerlist a {
margin-top:auto;
float:left;
padding: 14px 15px;
text-decoration: none;
color:black;
opacity: .60;
font-family: arial,sans-serif;
}
.footer ul li a:hover {
text-decoration: underline;
opacity: .60;
}

.footer .footerlist .right {
float:right;
}

